nav {
  font-family: cursive;
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #002137;
  border: 1px solid black;
  border-radius: 8px;
}
nav a {
  line-height: 50px;
  color: #ffffff;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}


a:nth-child(1) {
  width: 120px;
}
a:nth-child(2) {
  width: 140px;
}
a:nth-child(3) {
  width: 90px;
}
a:nth-child(4) {
  width: 110px;
}
a:nth-child(5) {
  width: 110px;
}

nav .start-home, a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 10px;
  background-color: #004d00;
}
nav .start-home, a:nth-child(2):hover ~ .animation {
  width: 150px;
  left: 120px;
  background-color: #004d00;
}
nav .start-home, a:nth-child(3):hover ~ .animation {
  width: 90px;
  left: 270px;
  background-color: #004d00;
}
nav .start-home, a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 370px;
  background-color: #004d00;
}
nav .start-home, a:nth-child(5):hover ~ .animation {
  width: 90px;
  left: 490px;
  background-color: #004d00;
}

body {
  font-size: 12px;
  background: #bb8b54;
}
