nav {
  font-family: cursive;
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #002137;
  border-radius: 1px solid black;
}
nav a {
  line-height: 50px;
  color: #ffffff;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-algin: center;
  cursor: pointer;
}
nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-cild(1) {
  width: 110px;
}
a:nth-cild(2) {
  width: 140px;
}
a:nth-cild(3) {
  width: 90px;
}
a:nth-cild(4) {
  width: 110px;
}
a:nth-cild(5) {
  width: 110px;
}
