nav {
  font-family: cursive;
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #002137;
  border-radius: 1px solid black;
}
nav a {
  line-height: 50px;
  color: #ffffff;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-algin: center;
  cursor: pointer;
}
